@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color : #002366;
    --secondary-color: #add8e6;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}
h1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: xx-large;
}

.section {
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--primary-color);    
}


label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--secondary-color);
    text-align: left;
}
input {
    width: 100%;
    padding: 0.5rem;
    display: 50px;
    display: block;
    margin: 1rem 0rem 1rem 0rem; 
}

button {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

.output {
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--secondary-color);
}

footer {
    bottom: 0px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 2rem;
    font-weight: bold;
}
.list-no-bullet {
    list-style: none;
}
.list-inline {
    display: inline;
    padding-right: 1rem;
}
